.outline {
  outline: dashed 2px purple;
  outline-offset: -2px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  font-font: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

main > section {
  outline: dashed 2px #cecece;
  outline-offset: -2px;

  margin: 10px;
  padding: 5px;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}


/* Range slider */
.filter-item {
  border: none;
  margin: 0;
  padding: 0;

  width: 260px;
  margin: 0 auto;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-slider {
  width: 260px;
  margin-top: 10px;
}

.range-controls {
  height: 41px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;

  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  position: relative;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.range-controls .bar {
  width: 30%;
  height: 2px;
  background: #00ca74;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid  #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0px;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;

  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;
  color: #283136;
  border: none;
  background-color: #f1f1f1;
}

/* Slider */
.slider {
  width: 680px;
  position: relative;
  height: 180px;
}

.slider-list {
  list-style: none;
  margin-left: 0;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.slider-title {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

.slider-item {
  position: relative;
}

.slider-item .button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.slider-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(90, 58, 29, 0.5);
  height: 40px;

}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 20;

  display: flex;
  width: 70px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #ffffff;
}

.slider-controls .current::after {
  content: "";
  width: 4px;
  height: 4px;
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000000;
}

/* MODEL WINDOW */
.model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;

  /*box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);*/
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

  /*background: rgba(111, 111, 111, 0.3);*/

  z-index: 100;
  padding: 0;
}

.model-map {
  top: 100px;
  bottom: auto;
  width: 943px;
  height: 449px;
}

.model-map img {
  display: block; /* Remove bottom margin*/
}

.model-map iframe {
  border: none;
}

.model::before {
  content: "";
  height: 7px;
  width: 100%;
  position: absolute;
  background-color: red;
  top: 0;
}

.model-msg {
  width: 620px;
  height: 430px;
  top: 150px;

  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.model-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.model-close::before,
.model-close::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  background-color: #ff0000;
  border-radius: 2px;
}

.model-close::after {
  transform: rotate(45deg);
}

.model-close::before {
  transform: rotate(-45deg);
}


/* WRITE TO US */

.msg-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 46px;
}

.msg-form .buttons {
  background-color: #F4F4F4;
  min-height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg-form input {
  width: 220px;
}

.msg-form .content {
  display: flex;
  flex-wrap: wrap;
}

.content > p:first-child,
.content > p:last-child
{
  margin-left: 80px;
  margin-right: 20px;
}

.msg-form textarea {
  width: 460px;
  height: 114px;
  resize: none;
}

.msg-form .button {
  display: block;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: red;
  border: none;
  font-size: 14px;
  font-family: Arial;
  width: 460px;
  height: 38px;
  line-height: 38px; /* TODO: Ask Alex, need to change line-heigt to center text vertically. OK? */
  outline-style: none;
}

/* FOOTER */
.footer-upane {
  outline: dashed 2px red;
  outline-offset: -2px;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-upane ul {
  outline: dashed 1px blue;
  outline-offset: -1px;
}



.footer-upane span {
  margin-top: 22px;
}

.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 546px;
  justify-content: space-between;
 }

.footer-nav-list.upper-menu {
  display: flex;
  align-items: flex-end;
}

.footer-container {
  width: 940px;
  margin: 0 auto;
}


.footer-upane > ul:last-child {
  padding-left:  20px;
  margin-top: 22px;
}

/* CSS Selector */
.nav-item.current a:not([href]) {
  background: yellow;
}

/* SIDE MENU */
.side-menu {
  display: flex;
  /*background-color: #F1F5F7;*/
  background-color: #F1F5F7;
  margin: 0 50px;

  /*background-image: url("../img/line.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: 235px 10px;*/

  /*outline: dashed 2px #3D546F;*/
  /*outline-offset: -2px;*/
}

.side-menu__navbar {
  position: relative;
  align-self: start;
  list-style: none;
  margin: 0;
  padding: 50px 0;
  width: 240px;

  /*outline: dashed 2px red;*/
  /*outline-offset: -2px;*/
}

.side-menu__content:not(:target) {
  display: none;
}

.side-menu__content:target {
  display: block;
}

.side-menu__navbar::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 5px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 10px 0px hsla(0, 0%, 10%, 0.2);
}

.side-menu__tab {
  box-sizing: border-box;
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: #32425c;
  border-top: 1px #405069 solid;
  border-bottom: 1px #293449 solid;
}

.side-menu__tab:hover {
  background-color: #293449;
}

.side-menu .content-panel {
  z-index: 1;
  outline: dashed 2px #3BBCE3;
  outline-offset: -2px;
  display: flex;
}

.side-menu__content {
  width: 400px;
  min-height: 100%;
  padding: 30px 50px;
  background-color: #F1F5F7;
}
