:root {
  --color-black: #000;
  --color-red: #EE3643;
  --color-green: #63A63E;
  --color-grey: #3D546F;
  --color-greylight: #C5C5C5;
  --color-greylight2: #EAEAEA; /* Catalog item border*/
  --color-grey2: #E5E5E5; /* Filter button border; Pager buttons; */
  --color-grey3: #A9A9A9; /* Catalog item unit price color */
  --color-greydark: #293449;
  --color-greydark2: #32425C;
  --color-background: #F1F5F7;
  --color-white: #FFF;
  --color-ylellow: #FFBF47;
  --color-blue: #3BBCE3;
  --color-lilac: #DC91D8;
  --color-greenlight: #8ED78F;
  --color-yellowlight: #FFD180;
  --color-banner: #F9F5F0;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --font-cuprum: "Cuprum", sans-serif;
  --font-ptsans: "PT Sans", sans-serif;
}

/* OUTLINES START - DELETE */
footer, footer section, header section, header p, footer p {
  outline: 3px dashed rgba(0, 255, 0, 0.4);
  outline-offset: -3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  outline: 3px dashed rgba(255, 0, 0, 0.4);
  offset: -3px;
}

/* OUTLINES END - DELETE */

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  font-family: var(--font-ptsans);
  min-width: 960px;
  font-size: 13px;
  min-height: 100%;
  color: var(--color-black);
}

.header-logo {
  display: inline-block;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-background);
  min-height: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-tools {
  font-size: 18px;
  font-height: 24px;
  font-family: var(--font-cuprum);
  background-color: var(--color-greydark);
  color: var(--color-white);
  width: 100%;
}

.tools-white-text {
  color: var(--color-white);
}

.header-tools-list {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;

  outline: 3px dashed rgba(255, 0, 0, 0.4);
  offset: -3px;

}

.header-tools-item a {
  display: block;
}

.header-nav {
  font-style: normal;
  font-size: 18px;
  font-height: 24px;
  font-family: var(--font-cuprum);
  background-color: var(--color-greydark2);
  box-shadow: inset 0px -5px 0px #293449;
 }

.header-nav a {
  display: block;
  margin: 20px;
  color: var(--color-white);
}

.header-nav-list {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.header-nav-item {

}

.header-pane {
  font-family: var(--font-cuprum);
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--color-red);
  width: 197px;
}

.phone-box {
  border: solid 2px var(--color-white);
}

.header-text-small {
  font-family: Cuprum;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-greydark2);
}

.phone-text {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: var(--color-red);
  text-align: center;
}

.account-nav {
  font-family: var(--font-cuprum);
  font-size: 21px;
  line-height: 21px;
}

.account-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.link-button {
  display: inline-block;
  background: var(--color-white);
  min-height: 45px;
  text-align: center;
  vertical-align: middle;  /*TODO: Cannot align text vertically */

  outline: dashed 1px red;
  outline-offset: -1px;
}

.register-link {
  width: 150px;

}

.login-link {
  width: 121px;
  margin-right: 5px;
}


.account-nav-item {
}

/* TODO: Verify with Alex
   1. Used grid layout with 3 dynamic columns and gap 20. The width is forced by the
   container of width: 940=300+300+300+20+20

   2. Used absolute positioning for icons with fixed, custom botton/top values. Is there are
   better solution.

   3. By the buttons fall out? Can this be used for log in the headeer (margin)
*/

.promo-container {
  margin: 0;
  padding: 0;
  height: 409px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.promo-item {
  position: relative;
}

.promo-item .title {
  margin-left: 23px;
  margin-top: 20px;
  font-family: var(--font-cuprum);
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
}

.promo-item a {
  display: inline-block;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-cuprum);
  color: var(--color-white);
  line-height: 38px;
  text-align: center;
  background: rgba(255, 255, 255, 0.30);
  margin-left: 22px;
  margin-top: 14px;
}

.promo-item a:hover {
  /*background: var(--color-greylight);  /* TODO: Ask Alex, could not achieve this by setting background and opacity */
  /*opacity: 0.3;*/
  background: rgba(197, 197, 197, 0.30);  /* TODO: How to use vars in this notation */
}

.promo-item a:active {
  background: rgba(169, 169, 169, 0.30);  /* TODO: How to use vars in this notation */
}

.bucket {
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1-bucket.svg");
  position: absolute;
  background-repeat: no-repeat;
  right: 43px;
  bottom: 27px;
}

.drill {
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2-drill.svg");
  position: absolute;
  background-repeat: no-repeat;
  right: 31px;
  bottom: 28px;
}

.tractor {
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3-tractor.svg");
  position: absolute;
  background-repeat: no-repeat;
  right: 30px;
  bottom: 31px;
}

.trolley {
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4-trolley.svg");
  position: absolute;
  background-repeat: no-repeat;
  right: 45px;
  bottom: 29px;
}

.van {
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5-van.svg");
  position: absolute;
  background-repeat: no-repeat;
  right: 31px;
  bottom: 28px;
}

.yellow {
  background-color: var(--color-ylellow);
}

.blue {
  background-color: var(--color-blue);
}

.lilac {
  background-color: var(--color-lilac);
}

.green {
  background-color: var(--color-greenlight);
}


.promo-slider {
  /*grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 3;*/
  grid-column: 1 / span 2;
  grid-row: 2 / -1;
}

.slider-content {
  margin: 0px;
}

/* BREADCRUMBS */
.breadcrumbs-list {
  list-style: none;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-list a {
  color: var(--color-black);
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
  text-decoration: none;
}

.breadcrumbs-current {
  color: var(--color-black);
}

/* MAIN */
.main {
  margin-top: 59px;
}

.main h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: var(--font-cuprum);
}

.main p {
  ont-size: 13px;
  line-height: 24px;
}

.banner {
  background-color: #F9F5F0; /*TODO: Ask Alex about background colors or images */
  height: 89px;
 }

.banner-text {
  text-transform: uppercase;
  color: #32425C;  /* TODO: replace with var */
  font-size: 30px;
  line-height: 30px;
}

.courier-list {
  list-style: none;
  padding: 0;
}

.courier-list-item {
  font-family: var(--font-cuprum);
  font-size: 18px;
  line-height: 24px;
}

/* FILTER */
.filter {

}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  background: var(--color-white);
  border: 1px solid var(--color-grey2);
}

.catalog {

}

.catalog-list {
  list-style: none;
  padding: 0;
}

.catalog-item {
  border: solid 1px var(--color-grey2);
  width: 220px;
  margin: 5px;
  height: 318px;
}

.catalog-item  div {
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  text-align: center;
}

.catalog-item .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .price {
  color: var(--color-grey3);
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  font-weight: 700;
}

.catalog-item a {
  background: var(--color-red);
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  height: 38px;
  width: 141px;
}

.catalog-item .button {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-cuprum);
  width: 135px;
  height: 38px;
}

/* PAGER */
.pagination-list {
  list-style: none;
}

.pagination-list li {
  width: 38px;
  height: 38px;   /* TODO: Consider using lineheight: 2  or using lineheight 38px */
  border: 1px solid var(--color-grey2);
  text-align: center;
  vertical-align: middle; /* TODO: Cannot align, check with Alex */
}

.pagination-list .current {
  width: 38px;
}

.pagination-list .next {
  width: 140px;
}

.makers-list {
  list-style: none;
  margin: 0;
}

 /* FOOTER */

.footer {
  display: flex;
  background-color: var(--color-greydark2);
  max-height: 300px;
  font-family: var(--font-cuprum);
}

.footer-pane-upper {

}

.footer-pane-lower {
  background-color: var(--color-greydark);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
}

.footer-nav-list {
  padding: 0;
  list-style: none;
  color: var(--color-background);
  display: flex;
}

.footer-nav-item {
}

.footer-nav a, .footer-nav a:hover, .footer-nav a:focus  {
  color: var(--color-white);
}

footer .link-text-yellow {
  color: var(--color-ylellow);
}

footer .small-text-white {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white);
}

.address-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
}

.copyright {

}

.contacts-list {
  list-style: none;
  padding: 0;
  color: var(--color-white);
  display: flex;
}

.contacts-list-item {
  text-align: center;
}

.contacts-list-item img {
  border-radius: 50%;
}

footer .contacts-button {
  display: inline-block;
  width: 40px;
}


/* BUTTONS */
.button-red {
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--color-red);
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-cuprum);
  width: 220px;
  height: 37px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}
