:root {
  --colour-red: #EE3643;
  --colour-green: #63A63E;
  --colour-grey: #3D546F;
  --colour-greylight: #C5C5C5;
  --colour-background: #F1F5F7;
  --colour-white: #FFF;
  --colour-ylellow: #FFBF47;
  --colour-blue: #3BBCE3;
  --colour-lilac: #DC91D8;
  --colour-greenlight: #8ED78F;
  --colour-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
}

html {

}

header, main, footer {
  outline: 3px solid rgba(255, 0, 0, 0.4);
  offset: -3px;
  margin: 5px;
}

body {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  min-width: 950px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--colour-background);
  height: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}
